services:
  api:
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    volumes:
      - ./app:/app/app

  worker:
    command: ["arq", "--watch", "app", "app.workers.arq_settings.WorkerSettings"]
    volumes:
      - ./app:/app/app
